@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.font{
    font-family: 'Open Sans', sans-serif;
}

.custombg {
    
}

h3{
    background-color: rgb(34, 44, 52);
    
}


h6{
    color: rgb(34, 44, 52);
}

.formulario{
    background-color: rgb(34, 44, 52);
    padding: 8%;
    border-radius: 8%;
    box-shadow: 5 15px 15px hsl(0deg 0% 0% / 0.3);

}


Form label{
    color: white;
}

img{
  width: 20%; 
  margin-left: 40%;
}


.borderTop {
    border: 10px;
}